body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px;
}
/* HOMEPAGE */
#mainContent {
    margin-top: 40px;
}

#autocompleteWraper {
    width: 60%;
    margin-right: 1%;
    float: left;
}
#chosenAsteroidWraper {
    width: 38%;
    margin-left: 1%;
    float: left;
}
#allAsteroids {
    list-style: none;
    padding: 5px;
    border: 1px solid #000;
}
#allAsteroids li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background: #4caf50;
    cursor: pointer;
    color: #fff;
}
#chosenAsteroid {
    list-style: none;
    padding: 10px;
    border: 1px solid #000;
}
#chosenAsteroid li {
    padding: 10px;
    text-align: left;
    background-color: #e2e2e2;
    color: #000;
    cursor: pointer;
    position: relative;
}
#chosenAsteroid li:nth-child(even){
    background-color: #f2f2f2;
}
#chosenAsteroid li:hover:after {
    position: absolute;
    right: 10px;
    top: 8px;
    content: "\2716";
}
#sesionAdd {
    background: #4caf50;
    display: block;
    max-width: 300px;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 50px;
}
#tableWraper {
    border-collapse: collapse;
    margin-bottom: 20px;
}
#tableHead th {
    cursor: pointer;
}
#tableWraper td, #tableWraper th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableWraper tr:nth-child(even){
    background-color: #f2f2f2;
}

#tableWraper tr:hover {
    background-color: #ddd;
  }

#tableWraper th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/* NUMBER OF APROACH PAGE */
#chartt {
    padding-left: 0px;
    list-style: none;
    border: 1px solid;
    padding: 20px;
}
#chartt p {
    min-width: 200px;
    display: inline-block;
} 
#chartt li span {
    background: red;
    display: inline-block;
    text-align: center;
}
#chartt li span {
    display: inline-block;
    text-align: center;
    min-width: 15px;
    padding: 5px;
}